body {
  font-size: 14px;
  font-family: "Consolas", "Microsoft Yahei";
}
.widget {
  margin-bottom: 1em;
  border: 1px solid #e2e2e2;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: .5em 1em .5em 1em;
}
.widget h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  border-bottom: 2px solid #08a5e0;
}
.widget ul {
  list-style: none;
  padding: 1px 0 1px 0;
}
.widget ul li a {
  text-decoration: none;
}
.no-corner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.box-shadow {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.article-item {
  overflow: hidden;
}
.article-item h3 a {
  color: #333;
  text-decoration: none;
}
.article-item h3 a:hover {
  color: #999;
}
.article-view {
  overflow: hidden;
}
.article-view h1 {
  margin: 10px 0;
  font-size: 1.4em;
  font-weight: bold;
}
.article-view p {
  line-height: 200%;
}
.article-view h2 {
  font-weight: normal;
  font-size: 1.2em;
  border-left: 4px solid #428BCA;
  padding-left: 10px;
}
.article-view img {
  max-width: 100%;
  height: auto;
}
h3 {
  font-size: 1.5em;
}
.msg {
  color: #999;
}
textarea {
  resize: none !important;
}
.pagination {
  font-size: .8em;
}
